$color-blue: #5290EA;
$color-orange: #F28B64;
$color-grey: #E2E2E2;

%montserrat-400{
	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
}

%montserrat-600{
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-weight: 600;
}